<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Riwayat Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Riwayat Transaksi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="transactions.length > 0; else emptyState">
    <ion-list inset="true">
      <ion-item
        *ngFor="let transaction of transactions; trackBy: trackById"
        [routerLink]="['/transaction', transaction.id]"
        detail="true"
        button="true"
      >
        <ion-label>
          <h2>{{ formatDate(transaction.createdAt) }}</h2>
          <p>{{ getItemSummary(transaction) }}</p>
        </ion-label>

        <ion-note slot="end" class="transaction-total">
          {{ formatRupiah(transaction.total) }}
        </ion-note>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #emptyState>
    <div class="empty-state">
      <ion-icon name="receipt-outline" aria-hidden="true"></ion-icon>
      <h2>Belum ada transaksi</h2>
      <p>Transaksi yang berhasil di-checkout akan muncul di sini.</p>
    </div>
  </ng-template>
</ion-content>