<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products" href="/tabs/products">
      <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions" href="/tabs/transactions">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>